In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# just the advanced version of matplotlib
plt.style.use('ggplot')
import nltk

In [13]:
# Let's Read Our Data
df=pd.read_csv('./amazon.csv')

In [14]:
df.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0,0,0.0,0.0

In [15]:
column_to_delete=['score_pos_neg_diff','score_average_rating','wilson_lower_bound']
df=df.drop(columns=column_to_delete)

In [16]:
df.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0

In [17]:
df.to_csv('./amazon.csv', index=False)

In [18]:
df.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0